<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <h1>About Me</h1>
        {{>header}}
        <img class="img"
            src="https://cdn3.iconfinder.com/data/icons/social-messaging-productivity-6/128/profile-male-circle2-512.png"
            height="250" width="250">
    </div>
    {{>footer}}
</body>

</html>